#ignore les executables ainsi que les fichiers de parametrage
code/dames.out
code/rafle/test_struct_rafle
.vscode/launch.json
.vscode
.vscode/settings.json
code/main.o
code/coord.o
code/little_linked_list.o
code/game_functions.o
code/aux_functions.o
code/debug_functions.o
code/game_management.o
code/calculus_functions.o
code/logic_functions.o
code/play_back_game_functions.o
code/interface.o
code/input_command.o
code/on_input.o
code/graphic_cache.o
code/update.o
code/basic_play_function.o
code/path_tree.o
code/rafle_tree_calc.o
code/path_tree_display.o
code/rafle_management.o
code/four_pack.o
code/path_struct.o
code/rafle_eating.o
code/move_simulation.o
code/dames
code/move_max.o
code/move_listing.o
code/listing_checks.o
code/move_struct.o
code/rafle_listing.o
code/give_issues.o
code/memory_move.o


